<div class="jumbotron">
    <div>
        <div>
            <span class="login-label">Username</span>
            <span><input type="text" name="" ng-model="userName" class="login-input"></span>
        </div>
        <div>
            <span class="login-label">Password</span>
            <span><input type="password" name="" ng-model="password" class="login-input"></span>
        </div>
        <div class="app-error">{{error}}</div>
        <div class="login-action"><input type="button" value="Login" ng-click="login()"></div>
    </div>
</div>
